# Supabase Credentials
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key

# Database Paths (Can be overridden)
BD1_PATH=C:\Users\User\Documents\BD\database1\Full Data.accdb
BD2_PATH=C:\Users\User\Documents\BD\database2\Full Data.accdb
BD3_PATH=C:\Users\User\Documents\BD\database3\Full Data.accdb
BD4_PATH=C:\Users\User\Documents\BD\database4\Full Data.accdb
BD5_PATH=C:\Users\User\Documents\BD\database5\Full Data.accdb
